<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/media.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/slider.css'%}">
    <link rel="stylesheet" href="{% static 'css/util.css'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--For Adding Favicon Logo-->
    <link rel="Shortcut Icon" type="images/png" href="{%static 'images/logo.png'%}">

    <title>Websites.com</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <div class="name">
            <img class="logo" src="{% static 'images/logo.png'%}" alt="">
            <p class="names"><b>R.L World School</b> ( Kg to X <sub>th</sub> )</p>
        </div>
        <!-- NavBar -->
        <div class="container">
            <nav class="flex">
                <ul class="nav-menu">
                    <li type="none"><a href="#" class="items">About</a></li>
                    <li type="none"><a href="#" class="items">Addmision</a></li>
                    <li type="none"><a href="#" class="items">Support</a></li>
                    <li type="none"><a href="#" class="items">Contacts</a></li>
                </ul>
                <button class="hamburger">
                    <i class="menuIcon material-icons">menu</i>
                    <i class="closeIcon material-icons">close</i>
                </button>
            </nav>
        </div>
    </header>
    <!-- Main Content editable data by developer -->

    <main>
        <div class="main_image">
            <div id="slider">
                <ul id="slideWrap">
                    <!-- <li><img src="/images/logo.png" alt=""></li> -->
                    <li><img src="{% static 'images/school.png'%}" alt=""></li>
                    <li><img src="{% static 'images/celeberation.png'%}" alt=""></li>
                    <li><img src="{% static 'images/path.png'%}" alt=""></li>
                </ul>
                <a id="prev" href="#">&#8810;</a>
                <a id="next" href="#">&#8811;</a>
            </div>
            <script src="{%static 'js/slider.js'%}"></script>
        </div>
        <div class="head-names">
            <div class="director">
                <img class="director_image" src="{% static 'images/ff.jpeg' %}" alt="">
                <h2 class="head-info">Director</h2>
                <br>
                <p class="direct-information">Hello Visitor, Welcome to our Website. If you have learned some
                    Knowledgeable things and seeing our website for some school information.So, thank you !!</p>
            </div>
            <div class="director">
                <img src="{%static 'images/billy.jpeg'%}" alt="" class="director_image">
                <h2 class="head-info">Principal</h2>
                <br>
                <p class="direct-information">Hello Visitor, Welcome to our Website. I am the "Principal" of this
                    School.</p>
            </div>
        </div>
        <div class="contents">
            <div class="cards">
                <div class="brief-about">
                    <h1 class="about">About US</h1>
                    <div class="text">
                        <p class="heading"><b>R.L World School</b></p>
                        <div class="textess">
                            <p class="textes">
                                R.L World School is a Catholic school established and administered by the Catholic
                                Archdiocese of Patna. This institution is established and administered under the rights
                                and powers granted to religious and linguistic minorities by the constitution of India
                                (Art. 29 and 30) the principal and other religious staff is appointed by the Archbishop
                                from time to time. The school managing committee is responsible for the execution of the
                                school rules and policy of Patna Diocesan Corporation.
                                The institution is co-educational with C.B.S.C affiliated. The 1st batch appeared for
                                the board in the year 2015. Last year total of 27 students appeared for the C.B.S.E
                                Board exam all pass 1st Division and 10 students total above 90%. The School batch (44
                                students) appeared in 2016. 24 students got above 90% in all the subjects.
                                <br>
                                <br>
                                <a href="#" class="btn">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subtile-subimage">
            <div class="texting">
                <p class="arrow">
                    <b class="bolder-text">Our School images</b>
                </p>
                <br>
                <p class="arrow change-back">
                    <b class="bolder-text">School Outer Image</b>
                </p>
            </div>
            <div class="image">
                <img src="{%static 'images/school.png'%}" alt="" class="school">
            </div>
        </div>
        <div class="shedule">
            <h4 class="news-section-heading">Shedule & Events</h4>
            <hr class="heading-line">
        </div>
        <div class="image-card">
            <div class="sheduleing">
                <p class="heading">Shedule</p>
                <hr class="shedule-line">
                <br>
                <br>
                <p class="event1">Open and Close Time 7:30am to 2:00pm.</p>
                <br>
                <p class="event1">Transport Bell after 5 minutes of final bell.</p>
                <br>
                <p class="event1">Coming Soon...</p>
            <!-- <div class="spacing"></div> -->
            </div>
                <div class="events">
                <p class="heading">Events</p>
                <hr class="event-line">
                <br>
                <br>
                <p class="event1">Happy Raksha Bandan</p>
                <br>
                <p class="event1">15 August Grand Celeberation</p>
                <br>
                <p class="event1">Annual Function Coming</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="gallery">
            <div class="gallery-trial-heading">
                <h4 class="gallery-section-heading">Gallery</h4>
                <hr class="gallery-heading-line">
            </div>
            <div class="image-trial-card">
                <img src="{%static 'images/school.png'%}" alt="" class="images">
                <img src="{%static 'images/path.png'%}" alt="" class="images">
                <img src="{%static 'images/celeberation.png'%}" alt="" class="images">
                <img src="{%static 'images/path.png'%}" alt="" class="images">
                <img src="{%static 'images/school.png'%}" alt="" class="images">
                <img src="{%static 'images/celeberation.png'%}" alt="" class="images">
            </div>
            <div class="see-image-btn">
                <a href="#" class="btn">See More</a>
            </div>
            <br>
        </div>
    </main>
    <!-- Footer Spaces -->
    <br>
    <br>
    <br>
    <div class="line">
        <h1 class="for-addmission-form-applying">ADMISSION GOING ON FOR ACADEMIC SESSION 2022-2023.</h1>
        <a href="#">Addmision Form</a>
    </div>
    <!-- Footer -->

    <footer>
        <div class="container-box">
            <div class="rows">
                <div class="columuns">
                    <h4 class="bottom-name">RL World School</h4>
                </div>
                <div class="columuns">
                    <h4>quick links</h4>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Addmision</a></li>
                    </ul>
                </div>
                <div class="columuns">
                    <h4>location</h4>
                    <ul>
                        <!-- <li><i class="fas fa-map-marker-alt"></i></li> -->
                        <li class="symbol-small">✉ <i
                                style="color: #bbb; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">rlworld@gmail.com</i>
                        </li>
                        <li class="symbol-small" style="color: transparent;  text-shadow: 0 0 0 #fff;">📞 +91 <i
                                style="color: #bbb; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">1234567890</i>
                        </li>
                        <li class="symbol-small" style="color: transparent;  text-shadow: 0 0 0 #fff;">&#x1f4cc; <i
                                style="color: #bbb; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Ekangar
                                Sarai, Nalanda</i></li>
                    </ul>
                </div>
                <div class="columuns">
                    <h4>follow</h4>
                    <div class="social">
                        <a href="#"><img src="{%static 'images/facebook-logo-png-2332.png'%}" alt="" class="facebook"></a>
                        <a href="#"><img src="{%static 'images/instagram-logo-icon-png-13590.png'%}" alt="" class="instagram"></a>
                        <a href="#"><img src="{%static 'images/twitter.png'%}" alt="" class="facebook"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="{%static 'js/script.js'%}"></script>
</html>
<!-- ✉ -->